<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pizza - Free Bootstrap 4 Template by Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/ionicons.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.timepicker.css">


  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span
          class="flaticon-pizza-1 mr-1"></span>Pizza<br><small>Delicous</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="order.html" class="nav-link">Order</a></li>
          <li class="nav-item"><a href="beADeliver.html" class="nav-link">BecomeAdeliver</a></li>
              <li class="nav-item active"><a href="about1.html" class="nav-link">About</a></li>
             <!-- <li class="nav-item"><a href="beADeliver.html" class="nav-link">Become  deliver</a></li> -->
          <li class="nav-item"><a href="singUp.html" class="nav-link">Sing up</a></li>
          <li class="nav-item"><a href="login.html" class="nav-link">Log in</a></li>
      </div>
    </div>
  </nav>
  <!-- END nav -->






  <section>

    <div class="container13">
      <div class="item">
        <h1 class="mb-42">Opportunity is everywhere</h1>
        <h3 class="mb-43">Make the most of your time on the road on the platform with the largest network of active
          riders.</h3>

        <div>
          <button>Sing up to deliver</button>
          <a href="about1.html" class="nav-link">Have account?Sing in</a>
        </div>
      </div>

      <div class="mb-45 ">
        <img src="images/illustration-safety-01-1.png" class="img-fluid">
      </div>

    </div>

  </section>




  <section class="first-section" style="background-color:#121618">
    <div>
      <div>
        <h2 id="makeM">Make money when you want</h2>
      </div>

      <div>
        <img id="peopleImg" src="images/Driveroverview.png" class="img-fluid" alt="">
      </div>





      <div>

        <div class="container14">
          <div class="item12">



            <div data-baseweb="block" class="css-iFiJuh">
              <div class="css-llNsBS">
                <div class="css-gAVfPz">
                  <div class="css-bAjYOe">
                    <div class="css-bgThKr">
                      <div class="css-eAlKuC">
                        <div style="height: 100%; width: 100%;"><img
                            src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535521901/assets/04/2e9cbe-6142-4d19-bea4-627a1967cc74/original/calendar.svg"
                            alt="Calendar Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-gAVfPz">
                  <div class="css-kXiMOI">
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-eRKiLo">
                        <div class="css-hPnljU">
                          <h3 class="css-eoQLkM">Set your own schedule</h3>
                        </div>
                      </div>
                    </div>
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-ggxDdj">
                        <div class="css-kqHVrb">
                          <p class="cmln__paragraph">You’re the boss. You can drive with the Uber app day or night. Fit
                            driving around your life, not the other way&nbsp;around.</p>
                        </div>
                      </div>
                    </div>
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>






          <div class="item12">
            <div data-baseweb="block" class="css-iFiJuh">
              <div class="css-llNsBS">
                <div class="css-gAVfPz">
                  <div class="css-bAjYOe">
                    <div class="css-bgThKr">
                      <div class="css-eAlKuC">
                        <div style="height: 100%; width: 100%;"><img
                            src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535521926/assets/34/56a7a3-6c7b-46fc-a8c6-91d3271b92bd/original/money.svg"
                            alt="Money Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-gAVfPz">
                  <div class="css-kXiMOI">
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-eRKiLo">
                        <div class="css-hPnljU">
                          <h3 class="css-eoQLkM">Make money on your terms</h3>
                        </div>
                      </div>
                    </div>
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-ggxDdj">
                        <div class="css-kqHVrb">
                          <p class="cmln__paragraph">The more you drive, the more money you can make. When demand is
                            higher
                            than normal, you can make even&nbsp;more.</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>


          <div class="item12">
            <div data-baseweb="block" class="css-iFiJuh">
              <div class="css-llNsBS">
                <div class="css-gAVfPz">
                  <div class="css-bAjYOe">
                    <div class="css-bgThKr">
                      <div class="css-eAlKuC">
                        <div style="height: 100%; width: 100%;"><img
                            src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535521963/assets/d3/c75f64-aac4-4df0-abd1-561b7ce4feab/original/support.svg"
                            alt="Support Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="css-gAVfPz">
                  <div class="css-kXiMOI">
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-eRKiLo">
                        <div class="css-hPnljU">
                          <h3 class="css-eoQLkM">Let the app lead the way</h3>
                        </div>
                      </div>
                    </div>
                    <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                      <div class="css-ggxDdj">
                        <div class="css-kqHVrb">
                          <p class="cmln__paragraph">Just tap and go. You get turn-by-turn directions,
                            suggestions to help you make more money, and 24/7&nbsp;support.</p>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </section>



  <section class="first-section" style="background-color:#f1f4f5">
    <div>
      <div>
        <h2 id="makeM1" class="css-fOwPKV">Get started</h2>
      </div>



      <div>

        <div class="css-gIGlzb">
          <div class="css-PKJb">
            <div data-baseweb="tab-list" role="tablist" aria-orientation="horizontal" class="css-gDbJnv"><button
                data-baseweb="tab" id="tabs-bui3-tab-0" role="tab" aria-selected="true"
                aria-controls="tabs-bui3-tabpanel-0" tabindex="0" type="button" class="css-cAGCBp">Hit the road</button>
              <div data-baseweb="tab-highlight" aria-hidden="true" role="presentation" class="css-bogKJL"></div>
            </div>
          </div>
          <div data-baseweb="tab-border" aria-hidden="true" role="presentation" class="css-eoZyEX"></div>
          <div data-baseweb="tab-panel" role="tabpanel" id="tabs-bui3-tabpanel-0" aria-labelledby="tabs-bui3-tab-0"
            class="css-iHXJtn">
            <div class="css-hhgccZ">
              <div class="css-ygIAx">
                <ul role="region" aria-label="Gallery" class="css-hQFXjR">
                  <li>
                    <div class="css-diqTJF">
                      <div class="css-gAVfPz">
                        <div class="css-bAjYOe">
                          <div class="css-bgThKr">
                            <div class="css-eAlKuC">
                              <div style="height: 100%; width: 100%;"><img
                                  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535522671/assets/13/d90c65-0e16-40a4-950e-f8a7d9d68f2e/original/requirement.svg"
                                  alt="Star Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="css-gAVfPz">
                        <div class="css-cYTjpz">
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-eRKiLo">
                              <div class="css-hPnljU">
                                <h3 class="css-eoQLkM">Sign up online</h3>
                              </div>
                            </div>
                          </div>
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-jUAbBJ">
                              <div class="css-kqHVrb">
                                <p class="cmln__paragraph">Just tell us which city you'd like to drive in and the type
                                  of license you have. We'll email you with your next&nbsp;steps.</p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="css-diqTJF">
                      <div class="css-gAVfPz">
                        <div class="css-bAjYOe">
                          <div class="css-bgThKr">
                            <div class="css-eAlKuC">
                              <div style="height: 100%; width: 100%;"><img
                                  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535522710/assets/8e/cc5c27-1604-4e6f-ad4d-11fec148143a/original/document.svg"
                                  alt="Document Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="css-gAVfPz">
                        <div class="css-cYTjpz">
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-eRKiLo">
                              <div class="css-hPnljU">
                                <h3 class="css-eoQLkM">Check driving requirements</h3>
                              </div>
                            </div>
                          </div>
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-jUAbBJ">
                              <div class="css-kqHVrb">
                                <p class="cmln__paragraph">All kinds of people are eligible to drive with Uber. Here’s
                                  what you need to know if you’re driving in&nbsp;Romania.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>


                  <li>
                    <div class="css-diqTJF">
                      <div class="css-gAVfPz">
                        <div class="css-bAjYOe">
                          <div class="css-bgThKr">
                            <div class="css-eAlKuC">
                              <div style="height: 100%; width: 100%;"><img
                                  src="https://www.uber-assets.com/image/upload/q_auto:eco,c_fill,w_24,h_24/v1535522753/assets/08/1702e0-ec8f-4ae4-8a80-110110732fb9/original/documentCheck.svg"
                                  alt="Document Check Glyph" role="presentation" aria-hidden="true" class="css-kGIRRZ">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="css-gAVfPz">
                        <div class="css-cYTjpz">
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-eRKiLo">
                              <div class="css-hPnljU">
                                <h3 class="css-eoQLkM">Get a vehicle</h3>
                              </div>
                            </div>
                          </div>
                          <div data-baseweb="block" id="animation-wrapper" class="css-PKJb">
                            <div class="css-jUAbBJ">
                              <div class="css-kqHVrb">
                                <p class="cmln__paragraph">You can sign up even if you don't have a car that meets the
                                  vehicle requirements in Romania right now. Registering through a fleet could give you
                                  access to a car if&nbsp;needed.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>


                </ul>
              </div>
            </div>
          </div>
        </div>







      </div>
    </div>
  </section>
=



  <div id="map"></div>


  <footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">About Us</h2>
            <p>Get your grecerys every week without worring or losing time.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Services</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Get weekly delivery</a></li>
              <li><a href="#" class="py-2 d-block">Saving time</a></li>
              <li><a href="#" class="py-2 d-block">Quality</a></li>
              <li><a href="#" class="py-2 d-block">Do not worry</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, USA</span>
                </li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span
                      class="text">martbul01@gmail.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
            <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

</body>

</html>